.crisp-form-group {
  margin-bottom: 1em;
}
.crisp-label {
  display: block;
  margin-bottom: 0.5em;
}
.crisp-input, .crisp-textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}