.crisp-accordion-header {
  cursor: pointer;
  padding: 1em;
  background: #f1f1f1;
}
.crisp-accordion-body {
  display: none;
  padding: 1em;
  border-top: 1px solid #ccc;
}
.crisp-accordion-item.open .crisp-accordion-body {
  display: block;
}