.crisp-tabs {
  display: flex;
  gap: 1em;
}
.crisp-tab {
  cursor: pointer;
  padding: 0.5em 1em;
  border-bottom: 2px solid transparent;
}
.crisp-tab.active {
  border-color: var(--crisp-primary, #3498db);
}
.crisp-tab-content {
  display: none;
}
.crisp-tab-content.active {
  display: block;
}